  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-4 col-md-12 footer-info">
            <a href="/" class="logo d-flex align-items-center">
              <img src="public/assets/img/logo.png" alt="">
              <span class="cusspan">Edo Business School</span>
            </a>
            <p> Edo Business School is a Pan-African organization that seeks to discover, develop and deploy the next generation of African business Leaders. </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-6 footer-links">
            <h4> What we Offer </h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Leadership Fundamentals </a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Business Fundamentals </a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Business and Laws in Nigeria </a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Sales, Marketing and Traction </a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Mental Health and Entrepreneurship </a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">The Edo Dream Business Pitch   </a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="about">About us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="programme">Programmes </a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="gallery">Gallery </a></li>
              
                
            </ul>
          </div>
          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4> Contact Us </h4>
            <p>
              located at <br>
              Benin-city, BN 300251 <br>
              Nigeria <br><br>
              <strong>Phone:</strong> +234 (0) 903 4236 454 <br>
              <strong>Email:</strong> info@edobusinessschool.com <br>
            </p>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy;  2022 Copyright <strong><span> Edo Business School. </span></strong> 
               All Rights Reserved
      </div>
      <div class="credits">
        Powered by <a href="mailto:oemuraye@gmail.com"> Pius_King </a>
        {{!-- Powered by <a href="https://brykiva.com/"> Brykiva Solutions </a> --}}
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>