
 <!-- ======= Breadcrumbs ======= -->
 <section class="breadcrumbs">
    <div class="container">
      <h2>Programme</h2>
      <ol>
        <li><a href="/">Home</a></li>
        <li><a href="gallery">Gallery</a></li>
        <!-- <li>Blog Single</li> -->
      </ol>
      

    </div>
</section>
  <!-- End Breadcrumbs -->

 <!-- ======= Gallery ======= -->  
 <!-- Photo speaks Section -->
    <section class="gallery-section home-gallery container-fluid" id="gallery">
          <div class="section-header pt-4 px-5">
              <p> Photo Speaks </p>
          </div>

          {{!-- <div class="details container row g-1 m-auto">
              <div class="col-md-3 col-sm-6"  >
                  <a href="public/assets/img/blog/blog-3.jpg" data-lightbox="svoc">
                      <img src="public/assets/img/blog/blog-3.jpg" alt="gallery" class="img-fluid" data-lightbox="portfolio" data-title="At the State Supreme Court">
                  </a>
              </div>
              <div class="col-md-3 col-sm-6" >
                  <a href="public/assets/img/blog/blog-3.jpg" data-lightbox="svoc">
                      <img src="public/assets/img/blog/blog-3.jpg" alt="gallery" class="img-fluid" data-lightbox="portfolio" data-title="At the State Supreme Court">
                  </a>
              </div>
              <div class="col-md-3 col-sm-6" >
                  <a href="public/assets/img/blog/blog-3.jpg" data-lightbox="svoc">
                      <img src="public/assets/img/blog/blog-3.jpg" alt="gallery" class="img-fluid" data-lightbox="portfolio" data-title="At the State Supreme Court">
                  </a>
              </div>
              <div class="col-md-3 col-sm-6" >
                  <a href="public/assets/img/blog/blog-3.jpg" data-lightbox="svoc">
                      <img src="public/assets/img/blog/blog-3.jpg" alt="gallery" class="img-fluid" data-lightbox="portfolio" data-title="At the State Supreme Court">
                  </a>
              </div>
              <div class="col-md-3 col-sm-6 hide" >
                  <a href="public/assets/img/blog/blog-3.jpg" data-lightbox="svoc">
                      <img src="public/assets/img/blog/blog-3.jpg" alt="gallery" class="img-fluid" data-lightbox="portfolio" data-title="At the State Supreme Court">
                  </a>
              </div>
              <div class="col-md-3 col-sm-6 hide" >
                  <a href="public/assets/img/blog/blog-3.jpg" data-lightbox="svoc">
                      <img src="public/assets/img/blog/blog-3.jpg" alt="gallery" class="img-fluid" data-lightbox="portfolio" data-title="At the State Supreme Court">
                  </a>
              </div>
              <div class="col-md-3 col-sm-6 hide" >
                  <a href="public/assets/img/blog/blog-3.jpg" data-lightbox="svoc">
                      <img src="public/assets/img/blog/blog-3.jpg" alt="gallery" class="img-fluid" data-lightbox="portfolio" data-title="At the State Supreme Court">
                  </a>
              </div>
              <div class="col-md-3 col-sm-6 hide" >
                  <a href="public/assets/img/blog/blog-3.jpg" data-lightbox="svoc">
                      <img src="public/assets/img/blog/blog-3.jpg" alt="gallery" class="img-fluid" data-lightbox="portfolio" data-title="At the State Supreme Court">
                  </a>
              </div>
          </div> --}}

        <section class="gallery-page">
            <div class="gallery__column">
                <a href="public/assets/img/blog/blog-author.jpg" data-lightbox="ebs" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="public/assets/img/blog/blog-author.jpg" alt="Portrait by Jessica Felicio" data-lightbox="school" data-title="At the State Supreme Court" class="gallery__image">
                        <figcaption class="gallery__caption">Portrait by Jessica Felicio</figcaption>
                    </figure>
                </a>

                <a href="public/assets/img/about.jpg" data-lightbox="ebs" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="public/assets/img/about.jpg" alt="Portrait by Oladimeji Odunsi" data-lightbox="school" data-title="At the State Supreme Court" class="gallery__image">
                        <figcaption class="gallery__caption">Portrait by Oladimeji Odunsi</figcaption>
                    </figure>
                </a>

                <a href="public/assets/img/blog/blog-3.jpg" data-lightbox="ebs" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="public/assets/img/blog/blog-3.jpg" alt="Portrait by Alex Perez" data-lightbox="school" data-title="At the State Supreme Court" class="gallery__image">
                        <figcaption class="gallery__caption">Portrait by Alex Perez</figcaption>
                    </figure>
                </a>
            </div>
            
            <div class="gallery__column">
                <a href="public/assets/img/blog/blog-1.jpg" data-lightbox="ebs" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="public/assets/img/blog/blog-1.jpg" alt="Portrait by Hikiapp" data-lightbox="school" data-title="At the State Supreme Court" class="gallery__image">
                        <figcaption class="gallery__caption">Portrait by Hikiapp</figcaption>
                    </figure>
                </a>
                
                <a href="public/assets/img/blog/blog-author.jpg" data-lightbox="ebs" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="public/assets/img/blog/blog-author.jpg" alt="Portrait by Ivana Cajina" data-lightbox="school" data-title="At the State Supreme Court" class="gallery__image">
                        <figcaption class="gallery__caption">Portrait by Ivana Cajina</figcaption>
                    </figure>
                </a>

                <a href="public/assets/img/blog/blog-recent-2.jpg" data-lightbox="ebs" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="public/assets/img/blog/blog-recent-2.jpg" alt="Portrait by Jeffery Erhunse" data-lightbox="school" data-title="At the State Supreme Court" class="gallery__image">
                        <figcaption class="gallery__caption">Portrait by Jeffery Erhunse</figcaption>
                    </figure>
                </a>
            </div>
            
            <div class="gallery__column">
                <a href="public/assets/img/blog/blog-recent-1.jpg" data-lightbox="ebs" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="public/assets/img/blog/blog-recent-1.jpg" alt="Portrait by Mari Lezhava" data-lightbox="school" data-title="At the State Supreme Court" class="gallery__image">
                        <figcaption class="gallery__caption">Portrait by Mari Lezhava</figcaption>
                    </figure>
                </a>
                
                <a href="public/assets/img/blog/blog-recent-5.jpg" data-lightbox="ebs" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="public/assets/img/blog/blog-recent-5.jpg" alt="Portrait by Ethan Haddox" data-lightbox="school" data-title="At the State Supreme Court" class="gallery__image">
                        <figcaption class="gallery__caption">Portrait by Ethan Haddox</figcaption>
                    </figure>
                </a>

                <a href="public/assets/img/blog/blog-author.jpg" data-lightbox="ebs" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="public/assets/img/blog/blog-author.jpg" alt="Portrait by Amir Geshani" data-lightbox="school" data-title="At the State Supreme Court" class="gallery__image">
                        <figcaption class="gallery__caption">Portrait by Amir Geshani</figcaption>
                    </figure>
                </a>
            </div>
            
            <div class="gallery__column">
                <a href="public/assets/img/blog/blog-3.jpg" data-lightbox="ebs" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="public/assets/img/blog/blog-3.jpg" alt="Portrait by Tyler Nix" data-lightbox="school" data-title="At the State Supreme Court" class="gallery__image">
                        <figcaption class="gallery__caption">Portrait by Tyler Nix</figcaption>
                    </figure>
                </a>

                <a href="public/assets/img/blog/blog-author.jpg" data-lightbox="ebs" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="public/assets/img/blog/blog-author.jpg" alt="Portrait by Jasmin Chew" data-lightbox="school" data-title="At the State Supreme Court" class="gallery__image">
                        <figcaption class="gallery__caption">Portrait by Jasmin Chew</figcaption>
                    </figure>
                </a>
                
                <a href="public/assets/img/blog/blog-3.jpg" data-lightbox="ebs" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="public/assets/img/blog/blog-3.jpg" alt="Portrait by Dima DallAcqua" data-lightbox="school" data-title="At the State Supreme Court" class="gallery__image">
                        <figcaption class="gallery__caption">Portrait by Dima DallAcqua</figcaption>
                    </figure>
                </a>
            </div>
        </section>

          {{!-- <div class="text-center"><a href="/gallery" type="submit" class="btn btn-primary my-4">View More</a></div> --}}
          
          <!-- Gallery modal  -->

      </section>
    <!-- End Photo speaks Section -->
  <!-- End Gallery -->