  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero home-hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-12 d-flex flex-column justify-content-center mx-auto">
          <h1 data-aos="fade-up"> Edo Business School  </h1>
          <h2 data-aos="fade-up" data-aos-delay="400" class="text-white"> is a Pan-African organization that seeks to discover, develop and deploy the next generation of African business Leaders </h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="programme" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span> Programmes </span>
                <i class="bi bi-arrow-right"></i>
              </a>
              <!-- <a href="/#admit" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span> Admission & Fees </span>
                <i class="bi bi-arrow-right"></i>
              </a> -->
            </div>
          </div>
        </div>
        {{!-- <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="public/assets/img/blog/blog-recent-5.jpg" class="img-fluid" alt="">
        </div> --}}
      </div>
    </div>

  </section>
  <!-- End Hero -->

  <main id="main">
    <!-- ======= Values Section ======= -->
    <section id="values" class="values">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <!-- <h2>Our Values</h2>
          <p>Odit est perspiciatis laborum et dicta</p> -->
        </header>

        <div class="row">

          <div class="col-lg-4">
            <div class="box" data-aos="fade-up" data-aos-delay="200">
              <img src="public/assets/img/values-1.png" class="img-fluid" alt="">
              <h3> Mission </h3>
              <p>
                To discover, develop and deploy one million African leaders by 2050.                    
              </p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="400">
              <img src="public/assets/img/values-2.png" class="img-fluid" alt="">
              <h3> Vision </h3>
              <p> To become Africa's foremost institution n for business leadership and development.  </p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="600">
              <img src="public/assets/img/values-3.png" class="img-fluid" alt="">
              <h3> Values </h3>
              <p>  Service. Legacy. Innovation. </p>
            </div>
          </div>

        </div>

      </div>

    </section>
    
    <!-- End Values Section -->
      <!-- ======= About Section ======= -->
      <section id="about" class="about mt-4">

        <div class="container" data-aos="fade-up">
          <div class="row gx-0">
  
            <div class="col-lg-7 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
              <div class="content">
                <h3> Education </h3>
                <h2> OUR VISIONARY LEADERSHIP  </h2>
                <p>  
                     Edo business school is a pan Africa school that seeks to discover, develop and deploy the next generation of Africa’s business leaders. We do this by offering entrepreneurs courses, mentorship and training that helps them from the very incubation of the idea until launch. We are innovation, sustainability and legacy. At EBS, we believe no idea is minutiae and everything can be built into an ecosystem- with the right tools and refinement 
                </p>                
                {{!-- <p> Leadership. Innovation. Sustainability </p>  --}}
                
                <div class="text-center text-lg-start">
                  <a href="about" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                    <span> Read More </span>
                    <i class="bi bi-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-5 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
              <img src="public/assets/img/about.jpg" class="img-fluid" alt="">
            </div>
  
          </div>
        </div>
  
      </section>
      <!-- End About Section -->
       
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <!-- <h2>Services</h2> -->
          <!-- <p>Veritatis et dolores facere numquam et praesentium</p> -->
        </header>

        <div class="row gy-2">

          <div class="col-lg-12 col-md-12" data-aos="fade-up" data-aos-delay="200">
            <div class="service-box blue">
              <i class="ri-discuss-line icon"></i>
              <h3> Admission Criteria </h3>
              <p>  
                Full undergraduate degree, Minimum of two years’ experience in leadership and entrepreneurship
              </p>
              <a href="#" class="read-more"><span></span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <a  href="programme">
          <div class="col-lg-12 col-md-12" data-aos="fade-up" data-aos-delay="300">
            <div class="service-box orange">
              <i class="ri-discuss-line icon"></i>
              <h3> Programmes </h3>
              <p> 360 business mentorship, Ideation, plan, Coaching, Funding option, Post launch support
              </p>
              <a href="programme" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        </a>

          <!-- <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-box green">
              <i class="ri-discuss-line icon"></i>
              <h3> Fees </h3>
              <p> Our program cost 250,000 for our 3 months program. Students can pay up to three installments. </p>
              <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div> -->

        </div>

      </div>

    </section>
    <!-- End Services Section -->




    <!-- ======= Recent Blog Posts Section ======= -->
    {{!-- <section id="recent-blog-posts" class="recent-blog-posts">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Blog</h2>
          <p>Recent posts form our Blog</p>
        </header>

        <div class="row">

          <div class="col-lg-4">
            <div class="post-box">
              <div class="post-img"><img src="public/assets/img/blog/blog-1.jpg" class="img-fluid" alt=""></div>
              <span class="post-date">Tue, September 15</span>
              <h3 class="post-title">Eum ad dolor et. Autem aut fugiat debitis voluptatem consequuntur sit</h3>
              <a href="blog-singe" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="post-box">
              <div class="post-img"><img src="public/assets/img/blog/blog-2.jpg" class="img-fluid" alt=""></div>
              <span class="post-date">Fri, August 28</span>
              <h3 class="post-title">Et repellendus molestiae qui est sed omnis voluptates magnam</h3>
              <a href="blog-singe" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="post-box">
              <div class="post-img"><img src="public/assets/img/blog/blog-3.jpg" class="img-fluid" alt=""></div>
              <span class="post-date">Mon, July 11</span>
              <h3 class="post-title">Quia assumenda est et veritatis aut quae</h3>
              <a href="blog-singe" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

        </div>

      </div>

    </section> --}}
    
    <!-- End Recent Blog Posts Section -->

    <!-- Photo speaks Section -->
    <section id="particles-js" class="gallery-section home-gallery container-fluid mt-5">
          <div class="section-header pt-4 px-5">
              <p class="text-white"> Photo Speaks </p>
          </div>

          <section class="details container m-auto mb-3">
              <div class="" >
                  <a href="public/assets/img/blog/blog-author.jpg" data-lightbox="svoc">
                      <img src="public/assets/img/blog/blog-author.jpg" alt="gallery" class="img-fluid" data-lightbox="portfolio" data-title="At the State Supreme Court">
                  </a>
              </div>
              <div class="" >
                  <a href="public/assets/img/blog/blog-recent-2.jpg" data-lightbox="svoc">
                      <img src="public/assets/img/blog/blog-recent-2.jpg" alt="gallery" class="img-fluid" data-lightbox="portfolio" data-title="At the State Supreme Court">
                  </a>
              </div>
              <div class="" >
                  <a href="public/assets/img/blog/blog-1.jpg" data-lightbox="svoc">
                      <img src="public/assets/img/blog/blog-1.jpg" alt="gallery" class="img-fluid" data-lightbox="portfolio" data-title="At the State Supreme Court">
                  </a>
              </div>
              <div class="" >
                  <a href="public/assets/img/blog/blog-recent-4.jpg" data-lightbox="svoc">
                      <img src="public/assets/img/blog/blog-recent-4.jpg" alt="gallery" class="img-fluid" data-lightbox="portfolio" data-title="At the State Supreme Court">
                  </a>
              </div>
          </section>


          <section class="photo_speaks-section show_on_desktop">
            <div>
              <img src="public/assets/img/blog/blog-3.jpg">
              <img src="public/assets/img/blog/blog-recent-4.jpg">
              <img src="public/assets/img/blog/blog-recent-3.jpg">
              <img src="public/assets/img/blog/blog-recent-2.jpg">
              <img src="public/assets/img/blog/blog-recent-1.jpg">
            </div>

            <div class="mb-0">
              <img src="public/assets/img/blog/blog-1.jpg">
              <img src="public/assets/img/blog/blog-3.jpg">
              <img src="public/assets/img/blog/blog-2.jpg">
            </div>

            {{!-- <div>
              <img src="https://loremflickr.com/320/200">
              <img src="https://loremflickr.com/321/200">
              <img src="https://loremflickr.com/319/200">
              <img src="https://loremflickr.com/323/200">
            </div> --}}
          </section>

          <div class="text-center"><a href="/gallery" type="submit" class="btn btn-primary mb-4">View More</a></div>
          
          <!-- Gallery modal  -->

      </section>
    <!-- End Photo speaks Section -->
    
    <!-- End Testimonials Section -->
  
      <!-- ======= Clients Section ======= -->
      <!-- <section id="clients" class="clients">
  
          <div class="container" data-aos="fade-up">
    
            <header class="section-header">
              <p> Our Partners </p>
               <br> </br>
              <h2> We work with credible organizations, businesses and individuals to achieve our goals </h2>
            </header>
    
            <div class="clients-slider swiper">
              <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide"><img src="public/assets/img/clients/client-1.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="public/assets/img/clients/client-2.png" class="img-fluid" alt=""></div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
    
        </section> -->
        
        <!-- End Clients Section -->


  </main>
  <!-- End #main -->
 