
   <!-- ======= Breadcrumbs ======= -->
   <section class="breadcrumbs">
    <div class="container">
      <h2>Programme</h2>
      <ol>
        <li><a href="/">Home</a></li>
        <li><a href="program">Program</a></li>
        <!-- <li>Blog Single</li> -->
      </ol>
      

    </div>
  </section>
  <!-- End Breadcrumbs -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" style="height: 60vh !important;" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">
            Who We Are
          </h1>
          <p data-aos="fade-up" data-aos-delay="400">
            Edo business school is a pan Africa school that seeks to discover, develop and deploy the next generation of Africa’s business leaders. We do this by offering entrepreneurs courses, mentorship and training that helps them from the very incubation of the idea until launch. We are innovation, sustainability and legacy. At EBS, we believe no idea is minutiae and everything can be built into an ecosystem- with the right tools and refinement.
          </p>
          <p data-aos="fade-up" data-aos-delay="400">
            If you are an early startup looking for a place to let your idea fly, you are at the right place. Whether you need to walk through your idea, or you need a course to equip you or perhaps, funding, we have got you covered.
          </p>
        </div>
      </div>
    </div>

  </section>
  <!-- End Hero -->

  <main id="main">

        <!-- ======= Features Section ======= -->
        <section id="features" class="features">

            <div class="container" data-aos="fade-up">
              <div class="row feture-tabs" data-aos="fade-up">
                <div class="col-lg-6 d-flex align-items-center">
                    <img src="public/assets/img/about.jpg" class="img-fluid" alt="">
                    {{!-- <img src="public/assets/img/features-2.png" class="img-fluid" alt=""> --}}
                  </div>
                <div class="col-lg-6">
                  <h3>Why choose Edo Business School?</h3>  
                  <!-- Tab Content -->
                  <div class="tab-content">
      
                    <div class="tab-pane fade show active" id="tab1">
                      {{!-- <p>Consequuntur inventore voluptates consequatur aut vel et. Eos doloribus expedita. Sapiente atque consequatur minima nihil quae aspernatur quo suscipit voluptatem.</p> --}}
                      <div class="d-flex align-items-center mb-2">
                        <i class="bi bi-check2"></i>
                        <h4>You are probably us</h4>
                      </div>
                      <p>At some point, we felt like the dream of EBS would never happen. For the longest time, it stayed as an idea contained within the pages of a worn out jotter. Today that idea has taken form and is living out its purpose. Let’s say we have been there and we understand how building from scratch can be frightening. And we can HELP</p>
                      <div class="d-flex align-items-center mb-2">
                        <i class="bi bi-check2"></i>
                        <h4>Customized solutions</h4>
                      </div>
                      <p>We do not offer a one fit all solution to our clientele base. We recognise that every business is dynamic and so we approach it with fresh eyes. We listen to the  entrepreneur, help them uncover their needs and then build a solution that works for you.</p>
                    </div>
                    <!-- End Tab 1 Content -->
      
                  </div>
      
                </div>
      
              </div>
              <!-- End Feature Tabs -->
      
              <!-- Feature Icons -->
              <div class="row feature-icons" data-aos="fade-up">
                <h3 class=" pt-3 pb-3 text-white" style="background:#000080;">More Information</h3>
      
                <div class="row">
                  <div class="col-xl-12 d-flex content">
                    <div class="row mt-4 align-self-center gy-4">
      
                      <div class="col-md-8 icon-box" data-aos="fade-up">
                        <i class="bi bi-check2-all"></i>
                        <div>
                          <h4>Funding</h4>
                          <p>Capital is the fuel on which an organization runs and once the fuel runs out, operations become strenuous. Bootstrapping is an option, of course but how sustainable is it in the long run? At Edo business school, we have a vast list of investors who are interested in the next big thing coming outside of Africa. Whether your business is agro-based, in the tech space or health, we can help you find funding.</p>
                        </div>
                      </div>
      
                      <div class="col-md-8 icon-box" data-aos="fade-up" data-aos-delay="100">
                        <i class="bi bi-check2-all"></i>
                        <div>
                          <h4>World class professionals</h4>
                          <p>Our team combines over 20 years of experience and knowledge from seasoned professionals to offer our clientele the  best services.</p>
                        </div>
                      </div>
      
                      <div class="col-md-8 icon-box" data-aos="fade-up" data-aos-delay="200">
                        <i class="bi bi-check2-all"></i>
                        <div>
                          <h4>Post Launch support</h4>
                          <p>As you set out to build your enterprise, from inception of your idea until you launch, we stay with you every step of the way offering every form of support you might need. We do not work with you just to set up your business, you can count on us even after.</p>
                        </div>
                      </div>

                    </div>
                  </div>
      
                </div>
      
              </div>
              <!-- End Feature Icons -->
      
            </div>
      
          </section>
          <!-- End Features Section -->


          <!-- ======= F.A.Q Section ======= -->
          <section id="faq" class="faq">

            <div class="container" data-aos="fade-up">

              <header class="section-header">
                <h2>F.A.Q</h2>
                <p>Frequently Asked Questions</p>
              </header>

              <div class="row">
                <div class="col-lg-6">
                  <!-- F.A.Q List 1-->
                  <div class="accordion accordion-flush" id="faqlist1">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                          How much does it cost getting started with EBS?
                        </button>
                      </h2>
                      <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                        <div class="accordion-body">
                          To start with us, we offer all of our users a free consultation first to see if we are a fit. We love to work with individuals/businesses that will get the most from us. It is via this consultation we get to find out what would work for you. 
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                          How long does a course take?
                        </button>
                      </h2>
                      <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                        <div class="accordion-body">
                          There is no one answer for this as our courses vary. We have courses as short as 4 weeks and others lasting up to 6 months. The duration is based on what you and your business needs at a particular time.
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                          Do I have access to the tutors?
                        </button>
                      </h2>
                      <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                        <div class="accordion-body">
                          At EBS, we have a firm belief in the transformative potential of ideas. Many of the renowned brands we celebrate today were once just raw concepts, waiting to be refined. This is precisely what sets Edo Business School apart – we take your concept, carefully sculpt and reshape it, always with your full consent, until it becomes a fully realized and sustainable entity.
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="col-lg-6">

                  <!-- F.A.Q List 2-->
                  <div class="accordion accordion-flush" id="faqlist2">

                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-1">
                          How do I know I am eligible for a course?
                        </button>
                      </h2>
                      <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                        <div class="accordion-body">
                          Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-2">
                          Tempus quam pellentesque nec nam aliquam sem et tortor consequat?
                        </button>
                      </h2>
                      <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                        <div class="accordion-body">
                          Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-3">
                          Varius vel pharetra vel turpis nunc eget lorem dolor?
                        </button>
                      </h2>
                      <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                        <div class="accordion-body">
                          Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>

            </div>

          </section>
          <!-- End F.A.Q Section -->




  </main>
  <!-- End #main -->
